<div class="author">
    <h1 class="author__heading">Eye Am...</h1>
    <p class="autor__body">Truth Teller & People Advocate.</p>
</div>

<img src="https://images.creativemarket.com/0.1.0/ps/8029783/1820/1210/m1/fpnw/wm1/gghhre9oqpnge69ayljvs2d2xdwpr2hnytbbhrliregklwblpjlrw7113yh3mjg1-.jpg?1&s=7e4ffe6e21866910ad0cb7c99502f619" alt="open Microphone-with-audience" class="microphone-image" width="981" height="528">

<section class="article" >
    <h2 class="articles__heading">Latest Post</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>


</section> 