<div class="author">
    <h1 class="author__heading">Hi, Eye am Drew.</h1>
    <p class="autor__body">Truth Teller and World Explorer.</p>
</div>

<img src="/https://www.loyaltyleader.com/wp-content/uploads/2019/01/Microphone-with-audience.jpg" alt="open Microphone-with-audience" class="microphone-image" width="981" height="528">

<section class="article" >
    <h2 class="articles__heading">Latest Post</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>


</section> 